/* MAKE CANVAS BEHIND EVERYTHING */
#particleCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:-10;
}

/* PAGE WRAPPER */
#pageWrapper {
    position: relative;
    z-index: 10;
}

/* SECTIONS */
.heroSection, .section2, .section3 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
}
