/* REGION POPUP */
.region-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(5px);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 80%;
    height: 70%;
    background: white;
    border-radius: 12px;
    padding: 30px;
    overflow-y: auto;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.close-btn {
    cursor: pointer;
    font-size: 22px;
}

.region-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.region-section h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.region-section p {
    margin: 6px 0;
    font-size: 14px;
    cursor: pointer;
}
