/* HERO */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 0; /* remove space */
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-content {
    position: absolute;
    bottom: 18%;
    left: 8%;
    color: white;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4.6rem;
    font-weight: 600;
}

.hero-btn {
    margin-top: 24px;
    padding: 14px 32px;
    background: white;
    color: black;
    border-radius: 28px;
    font-size: 1.1rem;
    transition: 0.3s;
}
.hero-btn:hover {
    background: #e5e5e5;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.3s ease forwards 0.4s;
}
@keyframes fadeIn {
    to { opacity: 1; }
}
